.container {
    width: 100%;
}

.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.boxContent {
    margin: 25px;
}

@media only screen and (min-width: 794px) {
    .subContainer {
        display: flex;
        flex-direction: column;
    }
}